@*@model Lab_DZ_KvestRoom_8.Data.QuestRoom*@
@model Lab_DZ_KvestRoom_8.Models.ViewModels.QuestRoomsViewModelAdmin.DetailsQuestRoomsViewModelAdmin

@{
    ViewData["Title"] = "Details";
}
@section Styles{
    <style>
        .limit{
            color: coral;
        }
        .questPhoto{
            border-radius: 200px;
            height: 300px;
            width: 300px;
            object-fit: cover;
        }
        .details{
            text-align:justify;
        }
    </style>
}

<h1>Details</h1>

<div>
    <h4>QuestRoom</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Logotype)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Logotype)*@
            <img class="questPhoto" src="data:images/jpeg;base64,@(Convert.ToBase64String(Model.QuestRoom.Logotype!))" 
            alt="@Model.QuestRoom.Name"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Details)
        </dt>
        <dd class = "col-sm-10 details">
            @Html.DisplayFor(model => model.QuestRoom.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.TimePassing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.TimePassing)
            <span> min</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.MinCountPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.MinCountPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.MaxCountPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.MaxCountPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.MinAgeOfPlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.MinAgeOfPlayer)
            <span> years old</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Addresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.Addresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.NameOfCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.NameOfCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.Rating)
            <span class="limit">/10</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.LevelOfFear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.LevelOfFear)
            <span class="limit">/5</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestRoom.LevelOfComplexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestRoom.LevelOfComplexity)
            <span class="limit">/5</span>
            @*<p>@Model.LevelOfComplexity/5</p>*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestRoom.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>