@model Lab_DZ_KvestRoom_8.Data.QuestRoom

@{
    ViewData["Title"] = "Details";
}
@section Styles{
    <style>
        .limit{
            color: coral;
        }
        .questPhoto{
            border-radius: 200px;
            height: 300px;
            width: 300px;
            object-fit: cover;
        }
        .details{
            text-align:justify;
        }
    </style>
}

<h1>Details</h1>

<div>
    <h4>QuestRoom</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logotype)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Logotype)*@
            <img class="questPhoto" src="data:images/jpeg;base64,@(Convert.ToBase64String(Model.Logotype!))" 
            alt="@Model.Name"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10 details">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePassing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePassing)
            <span> min</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinCountPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinCountPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCountPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCountPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinAgeOfPlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinAgeOfPlayer)
            <span> years old</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
            <span class="limit">/10</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelOfFear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelOfFear)
            <span class="limit">/5</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelOfComplexity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelOfComplexity)
            <span class="limit">/5</span>
            @*<p>@Model.LevelOfComplexity/5</p>*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>