@*@using Lab_DZ_KvestRoom_8.Data
@model IEnumerable<QuestRoom>*@

@using Lab_DZ_KvestRoom_8.Models.DTO
@using Lab_DZ_KvestRoom_8.Models.ViewModels.QuestRoomsViewModelAdmin
@model IndexQuestRoomsViewModelAdmin

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <style>
        .questPhoto{
            height: 200px;
            width: 250px;
            object-fit: cover;
            border-radius: 10px;
        }
       
        .btn{
            height: 40px;
        }
        .btn-sm{
            padding-top: 6px;
            font-size: 16px;
        }
        .container{
            padding-left:0;
        }

        .card{
            width: 300px;
            padding: 5px;
            box-shadow: 0px 0px 15px 4px;
        }
    </style>
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div class="row">
    
    @foreach (var item in Model.QuestRooms)
    {
        <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-5">
            <div class="container text-center">
                <div class="card">
                    <p>
                    @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <div class="photo">
                        <img class="questPhoto" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Logotype!))"
                        alt="@item.Name">
                    </div>
                    <div class="btn-group mt-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
